<div class="page">
    <div class="hd">
        <h1 class="page_title">电池监控</h1>
    </div>
    <div class="bd">
        <div class="weui_cells_title">电池状态</div>
        <div class="weui_cells weui_cells_checkbox">
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>电池状态</p>
                </div>
                <div class="weui_cell_ft" id="content_battery_status">
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>电池剩余量</p>
                </div>
                <div class="weui_cell_ft" id="content_battery_level">
                </div>
            </div>
        </div>
    </div>
</div>