<div class="page">
    <div class="hd">
        <h1 class="page_title">设备信息</h1>
    </div>
    <div class="bd">
        <div class="weui_cells weui_cells_checkbox">
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>Cordova版本号</p>
                </div>
                <div class="weui_cell_ft" id="content_device_cordova">
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>操作系统名称</p>
                </div>
                <div class="weui_cell_ft" id="content_device_platform">
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>操作系统版本号</p>
                </div>
                <div class="weui_cell_ft" id="content_device_version">
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>设备唯一ID</p>
                </div>
                <div class="weui_cell_ft" id="content_device_uuid">
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>设备型号名称</p>
                </div>
                <div class="weui_cell_ft" id="content_device_model">
                </div>
            </div>
        </div>
    </div>
</div>
